!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %title= h(yield(:title) || controller.action_name)
    = stylesheet_link_tag 'screen', :media => 'screen, projection', :cache => true
    = stylesheet_link_tag 'custom', :media => 'screen, projection', :cache => true
    = stylesheet_link_tag 'print', :media => 'print', :cache => true
    /[if IE]
      = stylesheet_link_tag 'ie', :media => 'screen, projection', :cache => true
    = stylesheet_link_tag 'style', :media => 'screen, projection', :cache => true
    = stylesheet_link_tag 'formtastic', 'formtastic_changes', 'application', :media => 'all', :cache => true
    = javascript_include_tag :defaults, :cache => true
    = yield :head
  
  %body#home
    %header.container
      %nav
        %img{ :src => "../images/navi_left.jpg", :alt =>"" }
        #tabs1
          %ul
            %li#current
              %a{ :href => "#" }
                %span Home
            %li
              %a{ :href => "#" }
                %span Services
            %li
              %a{ :href => "#" }
                %span Portfolio
            %li
              %a{ :href => "#" }
                %span Blog
            %li
              %a{ :href => "#" }
                %span About Us
        %img{ :src => "../images/navi_right.jpg", :alt =>"" }
        %ul#targets
          %li#twitter
            %a{ :href => "http://twitter.com" }
          %li#delicious
            %a{ :href => "http://delicious.com" }
          %li#facebook
            %a{ :href => "http://facebook.com" }
        
      %section.logo.span-10
        %h1 Environmental Brand
        %h4 Your Company Tagline Here
      
    %section.container.showgrid
      %article#flash
        = render :partial => 'layouts/flashes'
      %article#main
        = yield
    
    %footer.container.span-24
      #footer_links.span-18
        %span Copyright &copy; 2009 Stany Inc. 
        %a{ :href => "#", :title => "Home" } Home
        %a{ :href => "#", :title => "Services" } Services
        %a{ :href => "#", :title => "Portfolio" } Portfolio
        %a{ :href => "#", :title => "Blog" } Blog
      .design.span-4.last
        %a{ :href => "#" }
          %img{ :src => "../images/studio.jpg", :alt => "Studio7designs", :border => "0", :title => "Studio7designs" }

